// Positioning
@mixin position ($position: relative, $coordinates: 0 0 0 0) {

    @if type-of($position) == list {
        $coordinates: $position;
        $position: relative;
    }

    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    position: $position;

    @if $top == auto {
        top: $top;
    }
    @else if not(unitless($top)) {
        top: $top;
    }

    @if $right == auto {
        right: $right;
    }
    @else if not(unitless($right)) {
        right: $right;
    }

    @if $bottom == auto {
        bottom: $bottom;
    }
    @else if not(unitless($bottom)) {
        bottom: $bottom;
    }

    @if $left == auto {
        left: $left;
    }
    @else if not(unitless($left)) {
        left: $left;
    }
}
section {
  background-color: #121212;
  opacity: 1;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-video-container {
  pointer-events: none;
  z-index: 10;
  @include position(absolute, 0rem 0rem 0rem 0rem);
  video {
    /* background-image: url('*** Poster image goes here ***'); */
    background-size: cover;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    @include position(absolute, 50% 0rem 0rem 50%);
  }
}

.background-video-overlay {
  color: blue;
  height: 100vh;
  z-index: 20;
  @include position(absolute, 0rem 0rem 0rem 0rem);

  h1 {
    background-color: rgba(#ffffff, .8);
    border-radius: 4px;
    color: #121212;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
    margin: -50px 0 0 -200px;
    text-align: center;
    width: 400px;
    @include position(50% auto auto 50%);
  }
}
